{% extends 'base.html' %}

{% block header %}
    
<html lang="en">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<style>
    footer {
        background-color: lightslategray;
        color: black;
        text-align: center;
        border-color: black;
        border-style: solid;
    }
</style>

<head>
    <meta charset="utf-8">
    <meta name="description" content="Item Detail Page">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Car App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
    
 {% endblock %}

 {% block content %}

<body>
    <section>
            <article class="card">
                    <img class="card-img-top" src="static/2016_ferrari_488_gtb.jpg" alt="Car"
                        style="width:300px;height:160px;margin-Right:20px;" alt="BMW Series 3">
                    <div class="card-body">
                        <h3 class="card-title">2016 Ferrari 488 GTB</h3>
                        <p class="card-text"></p>
                        <b> Car Name:</b> 2016 Ferrari 488 GTB <br>
                        <b> Price:</b>$389,900<br>
                        <b>Where to Buy:</b> NA <br>
                        <b> Odometer:</b> 125km <br>
                        <b> Seller:</b> John Smith <br>
                        <b> Description: An amazing high end car with an amazing car for a person who likes to collect high end cars</b> 
                        </p>
                        <h5>More Specs:</h5>
                        <table style="width:40%">
            
                            <tr>
                                <td>Seating Capacity</td>
                                <td>5</td>
                               
                            </tr>
                            <tr>
                                <td>Transmission Type</td>
                                <td>Manual</td>
                                
                            </tr>
                            <tr>
                                <td>Drive Type</td>
                                <td>Rear</td>
                               
                            </tr>
                            <tr>
                                <td>Fuel Type</td>
                                <td>Unleaded 98</td>
                               
                            </tr>
                            <tr>
                                <td>Fuel Tank Capacity</td>
                                <td>60</td>
                               
                            </tr>
                            <tr>
                                <td>Fuel Consumption</td>
                                <td>6.0L/100 km</td>
                               
                            </tr>
                        <button type="button">Accessories</button>
                        <button type="button">Contact Seller</button>
                        <a href="{{url_for('main.bidform')}}"><button type="button">Bid Interest</button></a>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    </div>
    </article>
        </section>
    </body>

{% endblock %}