{% extends 'base.html' %}

{% import "bootstrap/wtf.html" as wtf %}
{% block content %}

  {% if current_user.is_authenticated %} 
  <div class="container">

    <div class="row mt-5">
      <div class="col-md-12">
        <h1>Current Car Details:</h1>
        <h5>Car Name:</h5>
        <p>{{car.name}}</p>
        <h5>Car Minimum Price:</h5>
        <p>{{car.minprice}}</p>
        <h5>Car Odometer:</h5>
        <p>{{car.odometer}}</p>
        <h5>Car Description:</h5>
        <p>{{car.description}}</p>
        <h5>Car Image:</h5>
        <p>{{car.image}}</p>

        <h1>Change Car Details Form:</h1>
        <p>Enter the new details for the car.</p> 

        {{wtf.quick_form(form)}}
        
      </div>
    </div>
  </div>

  {% else %} 

  <div class="container">

    <div class="row mt-5">
      <div class="col-md-12">

        <h1>You must be logged in to access this function.</h1>
        
      </div>
    </div>
  </div>

  {% endif %} 

{% endblock %}
